#!/usr/bin/env bash

info() {
    MESSAGE="$1"
    echo "[INFO] ${MESSAGE}"
}

warn() {
    MESSAGE="$1"
    echo "[WARN] ${MESSAGE}"
}

error() {
    MESSAGE="$1"
    echo "[ERROR] ${MESSAGE}"
}

if [[ -f ".env" ]]; then
    info ".env file found, loading environment variables from it"

    set -a
    source .env
    set +a
fi

# Stage

AVAILABLE_STAGES=("local" "prod")

if [ -z "${STAGE}" ]; then
    info "The staging environment variable is not set, defaulting to local environment"
    export STAGE=local
else
    if [[ ! " ${AVAILABLE_STAGES[*]} " =~ " ${STAGE} " ]]; then
        error "Stage [${STAGE}] is not valid. Please choose one of [${AVAILABLE_STAGES[*]// /|}]"
        exit 1
    fi
fi

info "Your STAGE is [${STAGE}]"

# Observability

if [ -z "${ENABLE_TELEMETRY}" ]; then
    info "ENABLE_TELEMETRY is not set, defaulting to true"
    export ENABLE_TELEMETRY=true
else
    if [[ "${ENABLE_TELEMETRY}" != "true" && "${ENABLE_TELEMETRY}" != "false" ]]; then
        error "ENABLE_TELEMETRY must be either true or false, but got [${ENABLE_TELEMETRY}]"
        exit 1
    fi

    info "ENABLE_TELEMETRY is set to [${ENABLE_TELEMETRY}]"
    export ENABLE_TELEMETRY=${ENABLE_TELEMETRY}
fi


# AI Model

if [[ "${STAGE}" = "local" ]]; then
    info "Using Ollama as the AI provider for local development"
    export AI_PROVIDER="ollama"
fi

if [[ "${AI_PROVIDER}" = "ollama" ]]; then
    export OLLAMA_PORT=11435
    export OLLAMA_URL="http://localhost:${OLLAMA_PORT}"

    if [ -z "${OLLAMA_MODEL}" ]; then
        export OLLAMA_MODEL="gemma3:270m"
        info "OLLAMA_MODEL is not set, defaulting to ${OLLAMA_MODEL}"
    fi

    info "Ollama configuration: (URL=${OLLAMA_URL}, MODEL=${OLLAMA_MODEL})"
fi

# Docker Compose
COMPOSE_PROFILES=""

if [[ "${ENABLE_TELEMETRY}" = "true" ]]; then
    COMPOSE_PROFILES="${COMPOSE_PROFILES} telemetry"
fi

export COMPOSE_PROFILES=${COMPOSE_PROFILES}
