#!/usr/bin/env bash

info() {
    MESSAGE="$1"
    echo "[INFO] ${MESSAGE}"
}

warn() {
    MESSAGE="$1"
    echo "[WARN] ${MESSAGE}"
}

error() {
    MESSAGE="$1"
    echo "[ERROR] ${MESSAGE}"
}

if [[ -f ".env" ]]; then
    info ".env file found, loading environment variables from it"
    dotenv
fi

# Stage

AVAILABLE_STAGES=("local" "prod")

if [ -z "${STAGE}" ]; then
    info "The staging environment variable is not set, defaulting to local environment"
    export STAGE=local
else
    if [[ ! " ${AVAILABLE_STAGES[*]} " =~ " ${STAGE} " ]]; then
        error "Stage [${STAGE}] is not valid. Please choose one of [${AVAILABLE_STAGES[*]// /|}]"
        exit 1
    fi
fi

info "Your STAGE is [${STAGE}]"

# AI Model

if [[ "${STAGE}" = "local" ]]; then
    info "Using Ollama as the AI provider for local development"
    export AI_PROVIDER="ollama"
fi

if [[ "${AI_PROVIDER}" = "ollama" ]]; then
    export OLLAMA_PORT=11435
    export OLLAMA_URL="http://localhost:${OLLAMA_PORT}"

    if [ -z "${OLLAMA_MODEL}" ]; then
        export OLLAMA_MODEL="gemma3:270m"
        info "OLLAMA_MODEL is not set, defaulting to ${OLLAMA_MODEL}"
    fi

    info "Ollama configuration: (URL=${OLLAMA_URL}, MODEL=${OLLAMA_MODEL})"
fi
